out.json*
__pycache__/
espaloma_angles.log.bz2
espaloma_bonds.log
espaloma_angles.log
pretty.out.json
Modified_Seminario_Angles.txt
Modified_Seminario_Bonds.txt
fb-ready
out.tar.gz
refit/output/
working-directory/
targets/
targets.tar.gz
data/industry/angles_dedup.json
data/industry/bonds_dedup.json
data/industry/torsions_dedup.json
/data/industry/impropers_dedup.json
/fault_handler.log
/data/industry/angles_eq.json
/data/industry/bonds_eq.json
/good.json
/patched.json
/pretty.patched.json
/data/msm/*.json
data/esp/*.json
